:root {
  --white: #fff;
  --light-orange: #ffc78f;
  --black: #000;
  --black-border: 4px solid black;
  --orange: #dd9a57;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./food-background.jpg');
  background-size: cover;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar > ul {
  display: flex;
  margin-top: 20px;
  gap: 50px;
  list-style: none;
  font-size: 2rem;
}

#navbar li {
  padding: 15px 50px;
  width: 100px;
  text-align:center;
  background-color: var(--light-orange);
  border: var(--black-border);
  margin-bottom: 50px;
  cursor: pointer;
}

#navbar .onpage {
  font-weight: bold;
  cursor: default;
}

#main-home {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#main-home > div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 150px;
  background-color: var(--light-orange);
  border: var(--black-border);
}

#main-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: var(--light-orange);
  border: var(--black-border);
}

#main-menu > #menu-container {
  display: grid;
  gap: 10px;
  width: 800px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

#menu-container > div {
  border: var(--black-border);
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: var(--light-orange);
  height: 150px;
}